.polaroid
  .photo-area
    a(href=jade.url('shots#show', {id : shot._id}))
      img.polaroid-photo.img-responsive(src="#{ shot.image_low }")

    .photo-info
      if jade.auth()
        span.action-button.print-button.ion-ios7-printer-outline
        span.action-button.delete-button.ion-ios7-trash-outline

      case shot.status
        when "failed"
          | Не напечатана
        when "printed"
          if shot.printedOn
            a(href=jade.url('stations#show', { name : shot.printedOn.name }))
              = shot.printedOn.title
        when "queued"
          | В очереди
        default
          | Необработана


  .photo-user
    .media
      a.pull-left(href="http://instagram.com/" + shot.user.name target="_blank")
        img.img-circle.media-object(src=shot.user.avatar width=48 height=48)

      .media-body
        a(href=shot.link target="_blank")
          h4.media-heading
            | @
            = shot.user.name
            small
              |  (
              = shot.user.fullname
              | )
        = shot.caption




