nav.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    ul.nav.navbar-nav
      li
        a(href=jade.url("static#about"))
          |  О Проекте
      li 
        a(href="#{jade.url('stations#index')}")
          |  Печатные Станции
      li 
        a(href="#{jade.url('shots#index')}")
          |  Фотографии

    ul.nav.navbar-nav.navbar-right
      if !jade.auth()
        li 
          a(href="#{jade.url('auth_login')}")
            |  Войти
      else
        li 
          a(href="#{jade.url('auth_logout')}")
            |  Выйти
            
.container-fluid.site-container
  #main-container 
